{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Pornhub.ba</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="{% static "css/custom.css" %}">
    </head>
    <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/phba/"><img src="{% static "media/XD.png" %}" height=160% width: auto></a>
        </div>
        <ul class="nav navbar-nav">
          <li {% if "/phba/" == request.path %}class="active"{% endif %}><a {% if "/phba/" != request.path %}href="/phba/"{% endif %}>Home</a></li>
          <li {% if "/phba/upload/" == request.path %}class="active"{% endif %}><a href="/phba/upload/">Upload</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          {% if user.is_authenticated %}
            <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-user"></span> Logout</a></li>
          {% else %}
            <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-user"></span> Sign in</a></li>
          {% endif %}
        </ul>
      </div>
    </nav>

    {% block front_end %}
        
    {% endblock front_end %}
    </body>
</html>


