{% extends "phba/base.html" %}


{% block front_end %}
	<div class="container-fluid text-center">
		<div class="row">
			{% for video in videos.object_list %}
				<div class="col-sm-3">
					<a href="watch/{{video.pk}}"><img src="{{video.video_tumbnail.url}}" height="240" width="320" ></a>
					<a href="watch/{{video.pk}}"><h4>{{video.video_title}}</h4></a>
				</div>

			{% endfor %}
		</div>
		<div class="col-sm-10 sidenav">
			
		</div>
		<div class="col-sm-2">
			<h4>{{ad.ad_title}}</h4>
			<img src="{{ad.ad_image.url}}" width = auto height="360">
			{{ad.ad_description}}

		</div>
	</div>

{% endblock front_end %}
