{% extends "phba/base.html" %}


{% block front_end %}
	<div class="container-fluid text-center">
		<div class="row">
			<div class="col-sm-2">
				
			</div>
			<div class="col-sm-8">
				<h3 class="text-left" style="color:#d9d9d9;">{{video.video_title}}</h3>
				<video src="{{video.video_file.url}}" controls="controls" width=auto height="580"></video>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-2">
				
			</div>
			<div class="col-sm-8">
				<button data-toggle="collapse" data-target="#des" class="btn pull-left" style="background-color:#ff6600; color:#cccccc;">Description</button>
			</div>
		</div>
		<div class="row"><br></div>
		<div class="row">
			<div class="col-sm-2">
				
			</div>
			<div class="col-sm-8">
				<div id="des" class="collapse pull-left" style="color:#cccccc">
					{{video.video_description}}
				</div>
			</div>
		</div>
				
	
	</div>
{% endblock front_end %}