{% extends "phba/base.html" %}


{% block front_end %}
	<div class="conteiner">
		<h2>Login</h2>
		 <form method="post">
		    {% csrf_token %}
		   	<div class="form-group">
		   		{% for field in form %}
		   			<div class="row">
		   				<div class="col-sm-3">
		   					<div class="input-group">
				                <span class="input-group-addon" style="background-color:#b77b48; color:white"><span class="glyphicon glyphicon-user"></span></span>
				                <input class="form-control" id="{{ field.id_for_label }}" maxlength="30" name="{{ field.html_name }}" value="{{ field.value }}" type="text" /> 
			    	            {{ field.errors }}
			   				</div>
		   				</div>
		   			</div>
			   		
			   	{% endfor %}
			   	<div class="row">
			   		<div class="col-sm-3">
			   			<button class="form-control" type="submit">Login</button>
			   		</div>
			   	</div>
		   	</div>
		    
		</form>
	</div>
	
{% endblock front_end %}