body {
	background-color: #1a1a1a;
}

 .navbar-default {
    background-color: #0d0d0d;
    border-color: #000000;
}

.navbar-default .navbar-nav > li > a {
    color: #999999;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #ff6600;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #e6e6e6;
    background-color: #ff6600;
}

img {
	border-width: 10px;
	border-color: transparent;
}

h4 {
	color: #ff6600;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
    background-color:  #ff6600;
    border-color:  #ff6600;
}

p {
    color: #cccccc;
}

.klasa p{
    color: #000000;
}